following {
  .card.active{
    background: #f08585;
  }
  .toolbar-background{
    background-color: #696969 !important;
    color: #fff;
  }
  // img{
  //   border-radius: 50% !important;
  //   overflow: hidden !important;
  //   width: 45px !important;
  //   height: 45px !important;
  //   border: 2px solid  map_get($colors,theme_color) !important;
  // }

  .cssForRoundSLidingItems .button-inner{
    background-color: #ffffff21;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: white;
    font-size: 11px
  }
  .cssForRoundSLidingItems button{
    background-color: black;
    margin-left: -1px!important;
  }

  .cssForRoundSLidingItems,.cssForRoundSLidingItems ion-item{
    height: 75px !important;
  }
  .cssForRoundSLidingItems  ion-icon:not(.nextDiff){
    margin-top: 10px !important;
    font-size: 2.1em !important;
  }

  .followings{
    border: none !important;
    background-color: white !important;
  }
  .followerNAme{
    color:  map_get($colors,theme_color) !important;
  }

  h2 {
    color:  map_get($colors,theme_color) !important;
  }

  .card{
    position: relative;
  }
  .iconMaze{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 112px;
    span{
      display: block;
      float: left;
      padding: 10px 15px;
      font-size: 24px;

    }
    .active{
      color: #871b16;
    }
    .inactive {
      color:#c3c3c3;
    }
    span.pull-right{
      float: right;
    }
  }
}
